<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
</head>
<body>
    <center>
        <h1>Displaying Webpages</h1>
        <table border="2px solid black">
            <caption>Webpages</caption>
            <tr>
                <th>name</th>
                <th>url</th>
                <th>email</th>
            </tr>
            {% for wo in webpages %}
                <tr>
                    <td>{{wo.name}}</td>
                    <td>{{wo.url}}</td>
                    <td>{{wo.email}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>