<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Page</title>
</head>
<body>
    <center>
        <h1>Diplaying Topics</h1>
        <table border="2px solid black">
            <caption>Topics</caption>
            <tr>
                <th>topic_name</th>
            </tr>
            {% for to in topics %}
                <tr>
                    <td>{{to.topic_name}}</td>
                </tr>
            {% endfor %}
            
        </table>
    </center>
</body>
</html>